<div class="d-flex justify-content-center">
    <div class="card mb-3" style="min-width: 1300px; min-height: 400px; margin-top: 3cm;">
        <div class="row no-gutters" style="min-height: 400px;">
            <div class="col-md-4 align-self-center">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <p class="text-center">Hello, admin!</p>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="card-body">
                    <form #adminForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label>Quantity</label>
                                    <input 
                                        type="number"
                                        class="form-control"
                                        id="quantity"
                                        name="quantity"
                                        [(ngModel)]="quantity"
                                        required
                                        #q="ngModel">
                                </div>
                                <div class="col">
                                    <label>Year</label>
                                    <input 
                                        type="number"
                                        class="form-control"
                                        id="years"
                                        name="years"
                                        [(ngModel)]="year"
                                        required
                                        #years="ngModel">
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <button 
                                    type="submit" 
                                    class="btn btn-dark"
                                    [disabled]="!adminForm.valid || !allowedToFetch">
                                        Get Movies
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>