<div class="row">
    <div class="col-md-2">
        <app-filters></app-filters>
    </div>
    <div class="col-md-10">
        <app-movies-list></app-movies-list>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item">
        <a class="page-link bg-dark text-muted" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link bg-dark text-muted" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>
