<div *ngIf="movie" class="card mb-3" style="max-width: 1200px; margin-left: 11%; margin-top: 1cm;">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img width="290px" [src]="movie.imagePath" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                {{ movie.movieRating.rating }}
                <p class="card-text"><small class="text-muted">Genres : {{ movieGenres }}</small></p>
                <p class="card-text"><small class="text-muted"> Actors : {{ movieActors }}</small></p>
                <p class="card-text">{{ movie.description }}</p>
                <p class="card-text"><small class="text-muted"> Release date : {{ movie.releaseDate }}</small></p>
                <button type="button" class="btn" [ngStyle]="{color : isFavourite ? 'red' : 'grey'}" (click)="onAddToFavourites(movie.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="movie" class="card mb-3" style="max-width: 1200px; margin-left: 10%; margin-top: 10px;">
    <div class="row no-gutters">
        <div class="col-md-12">
            <app-reviews *ngIf="reviewsArrived" [reviews]="reviews" [movieId]="movie.id"></app-reviews>
        </div>
    </div>
</div>