<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
    <a class="navbar-brand p-2" routerLink = "/home">A2xDM</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink = "/movies">Movies</a>
            </li>
        </ul>
        <div>
            <input 
            class="form-control mr-sm-2 bg-dark text-white" 
            type="search" 
            name="mySearch"
            placeholder="Search something..." 
            [(ngModel)]="whatWeSearchFor"
            (input)="onInput()"
            aria-label="Search">
        </div>
        <ul *ngIf="isActive()" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" routerLink="/favourites">Favourites</a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <div *ngIf="user.role != 'admin'">
                    <a (click)="onProfile()">
                        <img class="rounded-circle" width="40px" [src]="user.profilePicture">
                    </a>
                </div>
                <div *ngIf="user.role == 'admin'" class="text-white mr-2 ml-2">
                    <a (click)="onConsole()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onLogout()" routerLink = "/login">Logout</a>
            </li>
        </ul>
        <ul *ngIf = "!isActive()" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="onLogin()" routerLink="/home">Login</a>
            </li>
        </ul>
    </div>
</nav>