<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand p-2" routerLink = "/home">A2xDM</a>
    <div class="collapse navbar-collapse">
        <ul *ngIf = "isActive()" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink = "/movies">Movies</a>
            </li>
        </ul>
        <div *ngIf = "isActive()" class="">
            <input 
            class="form-control mr-sm-2 bg-dark text-white" 
            type="search" 
            name="mySearch"
            placeholder="Search something..." 
            [(ngModel)]="whatWeSearchFor"
            (input)="onInput()"
            aria-label="Search">
        </div>
        <ul *ngIf = "isActive()" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" routerLink="/favourites">Favourites</a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <a (click)="onProfile()">
                    <img class="rounded-circle" width="40px" src="https://images.pexels.com/photos/1013335/pexels-photo-1013335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onLogout()" routerLink = "/login">Logout</a>
            </li>
        </ul>
        <ul *ngIf = "!isActive()" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="onLogin()" routerLink="/home">Login</a>
            </li>
        </ul>
    </div>
</nav>