<div *ngIf="username != null">
    <app-recommended></app-recommended>
</div>
<app-inline-movie-list [componentId]="1" [movieCategory]="topRated"></app-inline-movie-list>
<app-inline-movie-list [componentId]="2" [movieCategory]="newest"></app-inline-movie-list>
<app-inline-movie-list [componentId]="3" [movieCategory]="byTitle"></app-inline-movie-list>
<app-inline-movie-list [componentId]="4" [movieCategory]="topRated"></app-inline-movie-list>
<app-inline-movie-list [componentId]="5" [movieCategory]="topRated"></app-inline-movie-list>
