<div class="row">
    <div class="col-md-12">
        <div class="card bg-dark text-white rounded-0 border-bottom shadow" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <div class="pl-4" *ngFor="let f of items; let i = index;">
                    <label [for]="title + i">
                        <input type="checkbox" [(ngModel)]="f.isSelected" [id]="title + i" [name]="title + i" [value]="f.name" (change) = "onChange()"/>
                        <span>      {{ f.name }}</span>
                    </label>
                </div>
            </div>
          </div>
    </div>
</div>